$max-width: 1200px;

$header-background-color: #414452;
$header-color: #dcdde0;
$header-background-active: #474b5a;


$footer-background-color: #414452;
$footer-color: #dcdde0;

$color-icon-play: #ace2a0;
